@media(max-width:480px){
	.login-page{
		max-width: 350px;
		padding: 30px 19px;
	}
	.ut-image{
		width: 35px;
	}
	.wee{
		font-size: 16px;
	}
	.login-container h2{
		color: #2E6734;
		font-size: 16px;
		margin-top: 42px;
		margin-bottom: 5px;
	}
	.login-container p{
		color: rgba(46, 103, 52, 0.60);
		font-size: 9px;
		font-weight: 500;
	}
	.login-container p{
		margin-bottom: 10px;
	}
	.segment label{
		padding: 3px !important;
		font-size: 12px;
	}
	.login-form{
		width: 250px;
	}
	form label{
		margin-bottom: 0;
	}
	form button{
		margin-top: 20px;
	}
	.input-container{
		margin-bottom: 5px;
	}
	.input-container label{
		padding: 10px 13px;
	}
	.input-field label{
		top: 10%;
		left: 16px;
	}
	.input-container input{
		font-size: 14px;
		padding-left: 7px;
	}
}